<launch>
  <!-- Arguments -->
  <arg name="cmd_vel_topic" default="/guider/cmd_vel" />
  <arg name="odom_topic" default="/guider/odom" />
  <arg name="move_forward_only" default="false"/>
  
  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find tracker_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find tracker_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find tracker_robot)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find tracker_robot)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find tracker_robot)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find tracker_robot)/config/dwa_local_planner_params.yaml" command="load" />

    <param name="controller_frequency" value="10.0" />
    <param name="global_costmap/robot_base_frame" value="guider/base_footprint"/>
    <param name="local_costmap/robot_base_frame" value="guider/base_footprint"/>
    <param name="local_costmap/global_frame" value="guider/map"/>
  </node>
</launch>
