<launch>
<!-- spawn the gazebo world -->
    <include file="$(find tracker_robot)/launch/world.launch"/>

<!-- execute launch file for mapping -->
    <include file="$(find fetch_navigation)/launch/build_map.launch"/>

<!-- execute rviz for mapping -->
    <node pkg="rviz" name="rviz" type="rviz"/>

<!-- TELEOP KEYBOARD -->
    <node pkg="teleop_twist_keyboard" name="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>

   
</launch>