<launch>
    <!-- execute launch file for world spawning -->
    <include file="$(find tracker_robot)/launch/world.launch"/>

    <!-- set argument map_file as fetch_map -->
    <arg name="map_file" value="$(env HOME)/catkin_ws/src/tracker_robot/maps/fetch_map.yaml"/>

    <!-- execute launch file for fetch robot tracker -->
    <group ns="guider">
        <param name="tf_prefix" value="guider" />
        <include file="$(find tracker_robot)/launch/guider.launch">
        </include>
    </group>

    <!-- execute launch file for fetch robot  -->
    <include file="$(find tracker_robot)/launch/tracker.launch"/>     
    
    <!-- execute HSV_detec.py for computer vision and fetch robot navigation -->
    <node pkg="tracker_robot" name="HSV_detec" type="HSV_detec.py" output="screen"/> 
    
    <!-- set tranformation for map to guider/map to be equivalent -->
    <node pkg="tf" name="map_to_map" type="static_transform_publisher" args="0 0 0 0 0 0 /map /guider/map 100"/>

    <!-- display rviz of the navigation data -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find tracker_robot)/rviz/config_nav.rviz" />
</launch>